#!/bin/bash
# Install Guide for Specification By Example Site

## Meta

    set -eu -o pipefail

### WordPress

    WORDPRESS_VERSION="${WORDPRESS_VERSION:-{{ wordpress_version }}}"
    WORDPRESS_HOME="${WORDPRESS_HOME:-{{ wordpress_wwwroot }}}"
    WORDPRESS_URL="${WORDPRESS_URL:-{{ wordpress_url | default('http://$(hostname -f)') }}}"

### Database

    WORDPRESS_DBHOST="${WORDPRESS_DBHOST:-{{ wordpress_mysql_hostname }}}"
    WORDPRESS_DBNAME="${WORDPRESS_DBNAME:-{{ wordpress_mysql_database }}}"
    WORDPRESS_DBUSER="${WORDPRESS_DBUSER:-{{ wordpress_mysql_username }}}"
    WORDPRESS_DBPASS="${WORDPRESS_DBPASS:-{{ wordpress_mysql_password }}}"

### WordPress Command Line Tool

    source /etc/profile.d/wp-cli.sh

## Install WordPress

### Remove previous installed WordPress

    find "${WORDPRESS_HOME}/" -mindepth 1 -maxdepth 1 \
         -not -name .htaccess \
         -exec rm -r {} \;

### Download WordPress

    wp core download --force --path="${WORDPRESS_HOME}" \
       --locale=en_US --version="${WORDPRESS_VERSION}"

### Create Database

    wp core config --dbname="${WORDPRESS_DBNAME}" --dbuser="${WORDPRESS_DBUSER}" \
       --dbpass="${WORDPRESS_DBPASS}" --dbhost="${WORDPRESS_DBHOST}" \
       --dbprefix=wp_ --dbcharset=utf8

    wp db drop --yes || true
    wp db create

    wp core install --url="${WORDPRESS_URL}" \
       --title="Specification By Example Workshop" \
       --admin_user=odd-e --admin_password=s3cr3t \
       --admin_email=chaifeng@odd-e.com

### Ensure WordPress Plugins

    wp plugin install wordpress-importer --activate
    wp plugin install disable-google-fonts --activate

### Change default theme

    wp theme activate {{ wordpress_theme }}

### Remove default posts

    wp post delete 1 2

### Import site

    wp import --authors=skip "$(dirname "$0")/specificationbyexampleworkshop.wordpress.xml"

### Update plugins and themes

    wp core update-db
    wp plugin update --all || true
    wp theme  update --all || true

### Create an editor

    wp user create tom tom@chaifeng.com --role=editor \
       --user_pass=s3cr3t --first_name=Tom

### Create a subscriber

    wp user create mary mary@chaifeng.com --role=subscriber \
       --user_pass=s3cr3t --first_name=Mary

### Reset all configurations

    /usr/bin/wordpress_reset_config.sh
    /usr/bin/wordpress_switch_to_url "${WORDPRESS_URL}"

### Done

    date > "{{ wordpress_wwwroot }}/wordpress_{{ wordpress_version }}.txt"

## File

    # -*- mode: sh -*-
    # vi: set ft=sh :
